#deleteButton{
    background-color: red;
    color: aliceblue;
}
.editButton{
    background-color: grey;
    color: white;
}
.main{
    width:30vw;
    height:35vh;
    margin: auto;
    /* border: 1px solid black; */
    background-color: yellow ;
}

.display{
    margin-left: 5%
}

.dataArea{
    width:26vw;
    height:35vh;
    margin:auto;
    /* border: 1px solid black; */
    margin-top: 5vh;
}

.submitBtn{
    margin-top: 5vh;
    margin-left: 9rem;
}
th,td{
    border: 1px double black;
}